---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<fake_api_key>&exclude=minutely&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1666827382,"sunrise":1666790509,"sunset":1666829142,"temp":55,"feels_like":51.94,"pressure":1006,"humidity":37,"dew_point":29.57,"uvi":0,"clouds":40,"visibility":10000,"wind_speed":3,"wind_deg":7,"wind_gust":3,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}]},"hourly":[{"dt":1666825200,"temp":55.44,"feels_like":52.32,"pressure":1005,"humidity":35,"dew_point":28.71,"uvi":0.38,"clouds":38,"visibility":10000,"wind_speed":5.01,"wind_deg":64,"wind_gust":5.88,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}],"pop":0.04},{"dt":1666828800,"temp":55,"feels_like":51.94,"pressure":1006,"humidity":37,"dew_point":29.57,"uvi":0,"clouds":40,"visibility":10000,"wind_speed":7.4,"wind_deg":81,"wind_gust":9.19,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}],"pop":0},{"dt":1666832400,"temp":54.72,"feels_like":51.53,"pressure":1006,"humidity":35,"dew_point":28.13,"uvi":0,"clouds":52,"visibility":10000,"wind_speed":7.74,"wind_deg":48,"wind_gust":11.77,"weather":[{"id":803,"mai[...]
