---
http_interactions:
- request:
    method: get
    uri: http://openlibrary.org/search.json?fields=title,publisher,isbn&limit=5&q=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ol-Stats:
      - '"SR 1 0.094 TT 0 0.095"'
    body:
      encoding: UTF-8
      string: |-
        {
            "numFound": 681,
            "start": 0,
            "numFoundExact": true,
            "docs": [
                {
                    "title": "Denver west, CO and Bailey, CO: Denver, CO",
                    "isbn": [
                        "9780607620054",
                        "0607620056"
                    ],
                    "publisher": [
                        "USGS Branch of Distribution"
                    ]
                },
                {
                    "title": "Denver, Co",
                    "isbn": [
                        "0762507845",
                        "9780762507849"
                    ],
                    "publisher": [
                        "Universal Map Enterprises"
                    ]
                },
                {
                    "title": "Denver East, CO and Castle Rock, CO: Denver, CO",
                    "isbn": [
                        "9780607620047",
                        "0607620048"
                    ],
                    "publisher": [
                        "USGS Branch of Distribution"
                    ]
                },
                {
                    "title": "Denver Co Deluxe Flip Map",
                    "isbn": [
                        "0762557362",
                        "9780762557363"
                    ],
                    "publisher": [
                        "Universal Map Enterprises"
                    ]
                },
                {
                    "title": "University of Denver Co 2007",
                    "isbn": [
                        "9781427401687",
                        "1427401683"
                    ],
                    "publisher": [
                        "College Prowler"
                    ]
                }
            ],
            "num_found": 681,
            "q": "denver,co",
            "offset": null
        }
  recorded_at: Thu, 27 Oct 2022 00:57:11 GMT
recorded_with: VCR 6.1.0
