---
http_interactions:
- request:
    method: get
    uri: https://api.pexels.com/v1/search?per_page=1&query=denver,co,skyline
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - fake_api_key_2
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"27d9ef841a8aed46a4e54b77813f7de6"
      X-Ratelimit-Remaining:
      - '20000'
      X-Server:
      - alpaca
    body:
      encoding: ASCII-8BIT
      string: '{"page":1,"per_page":1,"photos":[{"id":11360695,"width":2581,"height":3872,"url":"https://www.pexels.com/photo/man-lying-in-sand-11360695/","photographer":"Kristina
        Holman","photographer_url":"https://www.pexels.com/@kristina-holman-189555703","photographer_id":189555703,"avg_color":"#D8D9DB","src":{"original":"https://images.pexels.com/photos/11360695/pexels-photo-11360695.jpeg","large2x":"https://images.pexels.com/photos/11360695/pexels-photo-11360695.jpeg?auto=compress\u0026cs=tinysrgb\u0026dpr=2\u0026h=650\u0026w=940","large":"https://images.pexels.com/photos/11360695/pexels-photo-11360695.jpeg?auto=compress\u0026cs=tinysrgb\u0026h=650\u0026w=940","medium":"https://images.pexels.com/photos/11360695/pexels-photo-11360695.jpeg?auto=compress\u0026cs=tinysrgb\u0026h=350","small":"https://images.pexels.com/photos/11360695/pexels-photo-11360695.jpeg?auto=compress\u0026cs=tinysrgb\u0026h=130","portrait":"https://images.pexels.com/photos/11360695/pexels-photo-11360695.jpeg?auto=compress\u0026cs=tinysrgb\u0026fit=crop\u0026h=1200\u0026w=800","landscape":"https://images.pexels.com/photos/11360695/pexels-photo-11360695.jpeg?auto=compress\u0026cs=tinysrgb\u0026fit=crop\u0026h=627\u0026w=1200","tiny":"https://images.pexels.com/photos/11360695/pexels-photo-11360695.jpeg?auto=compress\u0026cs=tinysrgb\u0026dpr=1\u0026fit=crop\u0026h=200\u0026w=280"},"alt":"Man
        Lying in Sand"}],"total_results":8000,"next_page":"https://api.pexels.com/v1/search/?page=2\u0026per_page=1\u0026query=denver%2Cco%2Cskyline"}'
  recorded_at: Fri, 11 Mar 2022 23:18:28 GMT
recorded_with: VCR 6.0.0
