---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<fake_api_key>&exclude=minutely&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1666832552,"sunrise":1666790509,"sunset":1666829142,"temp":50.2,"feels_like":47.03,"pressure":1007,"humidity":45,"dew_point":29.97,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":6.17,"wind_deg":39,"wind_gust":9.62,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}]},"hourly":[{"dt":1666832400,"temp":50.2,"feels_like":47.03,"pressure":1007,"humidity":45,"dew_point":29.97,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":6.17,"wind_deg":39,"wind_gust":9.62,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}],"pop":0.08},{"dt":1666836000,"temp":50.59,"feels_like":47.37,"pressure":1007,"humidity":43,"dew_point":29.3,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":6.71,"wind_deg":24,"wind_gust":10.71,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}],"pop":0.04},{"dt":1666839600,"temp":49.95,"feels_like":46.67,"pressure":1007,"humidity":41,"dew_point":27.75,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":8.08,"wind_deg":8,"wind_gust":11.92,"weather":[{"id":8[...]
