---
http_interactions:
- request:
    method: post
    uri: https://api.twilio.com/2010-04-01/Accounts/AC3fe762aabf565efab1a5be47baf16132/Messages.json
    body:
      encoding: US-ASCII
      string: Body=Deer+Cyrena%2C+Thank+you+for+regestin+Darrens+APplication.+COngratulations+you+are+a+winner%21%21%21+tell+frances+he+loves+her+and+have+a+good+night&From=%2B17629003420&To=%2B13039099312
    headers:
      Authorization:
      - Basic QUMzZmU3NjJhYWJmNTY1ZWZhYjFhNWJlNDdiYWYxNjEzMjo2ODhjOTg0ZjJlNDRjZGU1ODJlYzFjZGFjMjJjZjFjMw==
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twilio-Request-Id:
      - RQ294f337aee5f29eb7bc701025147c80c
      Twilio-Request-Duration:
      - '0.117'
      Twilio-Concurrent-Requests:
      - '1'
      X-Shenanigans:
      - none
      X-Home-Region:
      - us1
      X-Api-Domain:
      - api.twilio.com
    body:
      encoding: UTF-8
      string: '{"code": 21608, "message": "The number  is unverified. Trial accounts
        cannot send messages to unverified numbers; verify  at twilio.com/user/account/phone-numbers/verified,
        or purchase a Twilio number to send messages to unverified numbers.", "more_info":
        "https://www.twilio.com/docs/errors/21608", "status": 400}'
  recorded_at: Tue, 12 Apr 2022 01:30:03 GMT
recorded_with: VCR 6.1.0
